<!-- <div class="container">
    <h1>Book Details</h1>
    <div class="book-details">
      <img [src]="book.imageUrl" alt="Book Image">
      <h2>{{ book.name }}</h2>
      <p><strong>Author:</strong> {{book.author}}</p>
      <p><strong>Year:</strong> {{ book.year }}</p>
      <p><strong>Description:</strong> {{ book.description }}</p>
      <!-- Display edit and delete buttons if the user is the owner of the book -->
      <!-- <div>
        <button class="button edit-button">Edit</button>
        <button class="button delete-button">Delete</button>
      </div>
    </div>
  </div> --> 
  <div class="container">
    <h1>Book Title</h1>
    <div class="book-details">
      <img src="" alt="Book Image">
      <p><strong>Author:</strong> Author Name</p>
      <p><strong>Year:</strong> 2022</p>
      <p><strong>Description:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      <div>
        <button>Edit</button>
        <button>Delete</button>
      </div>
    </div>
  </div>
  
